.lower-header {
    display: flex;
    width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 30px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}
.lower-header__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-column: 3 / span 8;  
}

.lower-header__link {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
}