.wrapper {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 30px;
    box-sizing: border-box;
}

.wrapper--footer {
    padding-bottom: 38px;
}


@media(max-width: 900px) {
    .wrapper--mobile {
        display:flex;
        flex-direction: column;
    }

}